body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: lightgrey;
}

p {
    text-align: center;
    font-weight: bold;
}

#title {
    padding: 10px;
    font-size: 40px;
}

#container {
    display: flex;
    justify-content: center;
    padding: 0px 50px 0px 50px;
    column-gap: 100px;
}

#controls {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: black 0px 4px 8px;
    padding: 0px 20px 20px 20px;
    row-gap: 10px;
}

#grid {
    width: 400px;
    height: 400px;
    box-shadow: black 0px 4px 8px;
    overflow: hidden;
}

.row {
    display: flex;
    justify-content: stretch;
    height: 25px;
}

.column {
    background-color: white;
    width: 100%;
}

.colored {
    background-color: cadetblue;
}