body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: lightgrey;
}

p {
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: stretch;
    padding: 50px;
    column-gap: 100px;
}

.controls {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: black 0px 4px 8px;
}

.grid {
    display: flex;
    flex-direction: stretch;
    box-shadow: black 0px 4px 8px;
}

.row {
    display: flex;
    justify-content: stretch;
}

.column {
    height: 25px;
    width: 25px;
    background-color: white;
}

.colored {
    background-color: cadetblue;
}
